* {
<<<<<<< HEAD
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    .homePage {
        max-width: 100vw;
        width: 100%;
        min-height: 100vh;
        .homepage__swiper__container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100vh;
            width: 100vw;
            overflow: hidden;
            .homepage__swiper {
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
        }
    }
}
=======
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// FriendsPage

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.friendsPage {
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__title {
    font-size: 48px;
  }
}
>>>>>>> f28f2008d73c24ab63446ef422e56cf3e412a463
