* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    .homePage {
        max-width: 100vw;
        width: 100%;
        min-height: 100vh;
        .homepage__swiper__container {
            height: 100vh;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            overflow: hidden;
            z-index: 0;
            .homepage__swiper {
                width: 100%;
                height: 100%;
                overflow: hidden;
                .home__swiper-navigation {
                    height: 45px;
                    width: 90px;
                    display: flex;
                    position: absolute;
                    right: 50px;
                    bottom: 50px;
                    .home__swiper-button {
                        &::after {
                            content: '';
                            height: 45px;
                            width: 45px;
                            display: block;
                        }
                        &.swiper-button-prev::after {
                            background: url("./img/sliderControls/previous.svg") no-repeat center;
                            background-size: contain;
                        }
                        &.swiper-button-next::after {
                            background: url("./img/sliderControls/next.svg") no-repeat center;
                            background-size: contain;
                        }
                    }
                }
            }
            .home__slider-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: flex;
                position: relative;
                filter: brightness(0.7);
                -webkit-filter: brightness(0.7);
            }
        }
    }
}

// FriendsPage
.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.friendsPage {
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__title {
        font-size: 48px;
    }
    .contact__block {
        width: 1512px;
        height: 303px;
        background-color: red;
    }
}