
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.contact__block {
    width: 100%;
    height: 171px;
    background-color: white;
    display: flex;
    justify-content: space-around;

}
.contact__row{
    width: 310px;

    height: 171px;
    background-color: white;
    

}
.facebook{
    background-color: #3B579D;
}
.instagram{
    background-color: #8034B0;
}
.soundcloud{
    background-color:  #FF8035;
}
.youtube{
    background-color: #FB0B0B;
}
.viber{
 
    background-color: #2CAAE1;

}

